<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup
      name="userSettings"
      type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
    >
      <section
        name="Celer.Properties.MainConfiguration"
        type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        allowExeDefinition="MachineToLocalUser"
        requirePermission="false"
      />
    </sectionGroup>
    <sectionGroup
      name="applicationSettings"
      type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
    >
      <section
        name="Celer.Properties.Secrets"
        type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        requirePermission="false"
      />
      <section
        name="Celer.Properties.MainConfiguration"
        type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        requirePermission="false"
      />
      <section
        name="Celer.Properties.Signatures"
        type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        requirePermission="false"
      />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Celer.Properties.MainConfiguration>
      <setting name="HasUserDoneSetup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableSchoolFeatures" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ALERTS_CPUTrackingEnable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ALERTS_MemoryTrackingEnable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ALERTS_TrackProcess" serializeAs="String">
        <value>explorer.exe</value>
      </setting>
      <setting name="EnableRounding" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Theme" serializeAs="String">
        <value>Steel WPF Dark</value>
      </setting>
      <setting name="ALERTS_EnableTrackProcess" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DISKS_ShowHiddenDrives" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CLEANENGINE_ExportLog" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CLEANENGINE_CustomSource" serializeAs="String">
        <value />
      </setting>
      <setting name="CLEANENGINE_AllowCustomSource" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ALERTS_CPUTrackingLimit" serializeAs="String">
        <value>80</value>
      </setting>
    </Celer.Properties.MainConfiguration>
  </userSettings>
  <applicationSettings>
    <Celer.Properties.Secrets>
      <setting name="SchoolProvisionKey1" serializeAs="String">
        <value>CELR-SCHL-9X7W-P2MK</value>
      </setting>
      <setting name="SchoolProvisionKey2" serializeAs="String">
        <value>CELR-SCHL-4T9G-XQ2L</value>
      </setting>
      <setting name="SchoolProvisionKey3" serializeAs="String">
        <value>CELR-SCHL-Y83M-WL7K</value>
      </setting>
    </Celer.Properties.Secrets>
    <Celer.Properties.MainConfiguration>
      <setting name="CLEANENGINE_DefaultSource" serializeAs="String">
        <value>https://surfscape.github.io/celer/signatures/cleaning.json</value>
      </setting>
    </Celer.Properties.MainConfiguration>
    <Celer.Properties.Signatures>
      <setting name="CleaningEngineMainSource" serializeAs="String">
        <value>https://codeberg.org/Celer/cleaning-signatures/raw/branch/main/basic-cleaning.json</value>
      </setting>
    </Celer.Properties.Signatures>
  </applicationSettings>
</configuration>
