<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup
    name="userSettings"
    type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
    >
			<section
     name="Celer.Properties.MainConfiguration"
     type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
     allowExeDefinition="MachineToLocalUser"
     requirePermission="false"
      />
		</sectionGroup>
		<sectionGroup
    name="applicationSettings"
    type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
    >
			<section
     name="Celer.Properties.Secrets"
     type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
     requirePermission="false"
      />
			<section
     name="Celer.Properties.Signatures"
     type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
     requirePermission="false"
      />
		</sectionGroup>
	</configSections>
	<userSettings>
		<Celer.Properties.MainConfiguration>
   <setting name="HasUserDoneSetup" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ALERTS_CPUTrackingEnable" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ALERTS_MemoryTrackingEnable" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ALERTS_TrackProcess" serializeAs="String">
    <value>explorer</value>
   </setting>
   <setting name="EnableRounding" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="Theme" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="ALERTS_EnableTrackProcess" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DISKS_ShowHiddenDrives" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="CLEANENGINE_ExportLog" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="CLEANENGINE_CustomSource" serializeAs="String">
    <value />
   </setting>
   <setting name="CLEANENGINE_EnableCustomSource" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ALERTS_CPUTrackingLimit" serializeAs="String">
    <value>80</value>
   </setting>
   <setting name="EnableAutoSurfScapeGateway" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="GraphicRenderingMode" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="AutoStartup" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="EnableLegacyPowerPlans" serializeAs="String">
    <value>True</value>
   </setting>
  </Celer.Properties.MainConfiguration>
	</userSettings>
	<applicationSettings>
		<Celer.Properties.Signatures>
			<setting name="CleaningEngineMainSource" serializeAs="String">
				<value>https://gateway.surfscape.eu/celer/signatures/cleaning.json</value>
			</setting>
		</Celer.Properties.Signatures>
	</applicationSettings>
</configuration>
